node-red/flows2-auto.json
[{"id":"e61414ae.de7728","type":"serial out","z":"1047c1c7.faf43e","name":"","serial":"9edfe420.cfa0b8","x":850,"y":100,"wires":[]},{"id":"7b9ede99.77fba","type":"debug","z":"1047c1c7.faf43e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":200,"wires":[]},{"id":"c03aacbb.a015f","type":"function","z":"1047c1c7.faf43e","name":"","func":"val > 500;\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["27ea413e.59fcee"]]},{"id":"d8943e12.cd88e","type":"function","z":"1047c1c7.faf43e","name":"","func":"digitalWrite(pumpPin2, HIGH);\nreturn pumpPin2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":60,"wires":[["e61414ae.de7728"]]},{"id":"ff7b27a9.942f68","type":"function","z":"1047c1c7.faf43e","name":"","func":"digitalWrite(pumpPin2, LOW);\nreturn pumpPin2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":160,"wires":[["e61414ae.de7728"]]},{"id":"27ea413e.59fcee","type":"switch","z":"1047c1c7.faf43e","name":"true or false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":100,"wires":[["d8943e12.cd88e"],["ff7b27a9.942f68"]]},{"id":"d1f31cbf.c8862","type":"serial in","z":"1047c1c7.faf43e","name":"","serial":"9edfe420.cfa0b8","x":100,"y":100,"wires":[["c03aacbb.a015f","7b9ede99.77fba"]]},{"id":"9edfe420.cfa0b8","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]